@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?brg67y');
  src:  url('fonts/icomoon.eot?brg67y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?brg67y') format('truetype'),
    url('fonts/icomoon.woff?brg67y') format('woff'),
    url('fonts/icomoon.svg?brg67y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check_box_outline_blank:before {
  content: "\e906";
}
.icon-check_box:before {
  content: "\e907";
}
.icon-radio-unchecked:before {
  content: "\e904";
}
.icon-radio-checked:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e900";
}
.icon-office:before {
  content: "\e903";
}
.icon-mail-envelope-open:before {
  content: "\e901";
}
.icon-trash-can:before {
  content: "\e908";
}
.icon-inbox-document-text:before {
  content: "\e902";
}
