@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?va3kw');
  src:  url('fonts/icomoon.eot?va3kw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?va3kw') format('truetype'),
    url('fonts/icomoon.woff?va3kw') format('woff'),
    url('fonts/icomoon.svg?va3kw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-office:before {
  content: "\e903";
}
.icon-mail-envelope-open:before {
  content: "\e901";
}
.icon-inbox-document-text:before {
  content: "\e902";
}
